//Define Global Site Colors

$white: #ffffff;
$offwhite: #f0f0f2;
$black: #000000;

$orange: #dc661e;
$green: #004f38;

//Define Base Font Size
$base-font-size: 16px;

$CrimsonText: 'Crimson Text', serif;

$GothamBook: 'Gotham Book', sans-serif;
$GothamMedium: 'Gotham Medium', sans-serif;
$GothamUltra: 'Gotham Ultra', sans-serif;

