@font-face {
    font-family: 'Futura Md BT';
    src: url(fonts/futurab.eot);
/* IE9 Compat Modes */
    src: url(fonts/futurab.eot?#iefix) format(embedded-opentype), url(fonts/futurab.woff) format(woff), url(fonts/futurab.ttf) format(truetype), url(fonts/futurab.svg#3fc2bee58dbb778cde6c47c8792165c3) format(svg);
/* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Futura-Condensed-Bold';
    src: url(fonts/futura-condensed-bold.eot);
/* IE9 Compat Modes */
    src: url(fonts/futura-condensed-bold.eot?#iefix) format(embedded-opentype), url(fonts/futura-condensed-bold.woff) format(woff), url(fonts/futura-condensed-bold.ttf) format(truetype), url(fonts/futura-condensed-bold.svg#fe9bed4f19cc2f39b7390b972506b143) format(svg);
/* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}


body#tinymce.wp-editor { 
    font-family: 'Open Sans', sans-serif;
    margin: 10px; 
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	font-family: 'Futura Md BT';
	text-transform: uppercase;
}

body#tinymce.wp-editor a {
    color: #383ecb;
}