/*   
Theme Name: Spartan Fund
Theme URI: http://spartanfund.org/
Description: Custom Parallax Scrolling Spartan Fund WP Theme.
Author: Core3
Author URI: http://core3solutions.com
Version: 1.0
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(css/mainstyle.css);
@import url(css/jquery.sidr.light.css);

body.home .page-title {
	min-height: 600px !important;
}

.header-wrapper {
	position: relative;
}

.header-wrapper .banner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .8);
	z-index: 2;
	width: 500px;
	padding: 48px;
}

.header-wrapper .banner img {
	max-width: 100%;
	width: auto;
	height: 150px;
}

.header-wrapper .banner h2 {
	margin: 32px 0 8px 0;
}

.header-wrapper .banner p {
	margin-bottom: 48px;
}

.header-wrapper .banner a.button {
	cursor: pointer;
	color: #fff;
	font-family: 'Futura Md BT', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #145348;
	padding: 12px 20px 10px 20px;
	display: inline-block;
	margin: 0 1em 1em 0;
	line-height: 1;
}

@media only screen and (max-width: 1300px) {
	.header-wrapper .banner {
		position: initial;
		width: 100%;
		max-width: 750px;
		margin: 0 auto;
	}
}